<h2>All Students</h2>

<p>style #1</p>
<% @students.each do |student| %>
<%= render partial: 'student', object: student %>
<% end %>

<p>style #2</p>
<%= render partial: 'student', collection: @students %>

<p>style #2 (Short Form)</p>
<%= render @students %>