<h2>Student Information</h2>

<p>style #1</p>
<%= render partial: 'student', object: @student %>

<p>style #1 (Short Form)</p>
<%= render @student %>

<p>
	<%= link_to 'Back to All Students', students_path %>
</p>